[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/spurious/SDL-mirror.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
